@import "~bootstrap/dist/css/bootstrap.min.css";

h1 {
    font-size: 1.8rem !important;
}
h3 {
    font-size: 1.3rem !important;
    margin: 0;
    padding: 0;
}

.center {
    margin: auto;
    width: 50%;
}