<div class="customer-bid">
    <header class="row">
        <div class="col-md-6 customer-name vertical-align-center">
            <h3>{{customerBet.customer.name}}</h3>
        </div>
        <div class="col-md-3 total-bet vertical-align-center ">
            <span class="label">Total Return Stake: </span> <span class="money">{{customerBet.totalReturnStake | currency:'USD':true}}</span>
        </div>
        <div class="col-md-3 total-winnings vertical-align-center">
            <span class="label">Total Winnings: </span> 
            <span class="money" [ngClass]="{ 'win': customerBet.totalWinnings > 0 }">
                {{customerBet.totalWinnings | currency:'USD':true}}</span>
        </div>
    </header>
    <div>
        <table class="table table-collapsed">
            <thead>
                <tr>
                    <th>Race ID</th>
                    <th>Return Stake</th>
                    <th>Won?</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let bet of customerBet.bets" [ngClass]="{ 'table-success': bet.won, 'table-danger': !bet.won }">
                    <td>{{bet.raceId}}</td>
                    <td>{{bet.returnStake}}</td>
                    <td><span class="outcome" *ngIf="bet.returnStake < 200 || !bet.won;else jackpot">{{bet.won ? 'Win' : 'Lost'}}</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<ng-template #jackpot><img src="/assets/jackpot.png" alt="Jackpot" class="jackpot" /></ng-template>