.customer-bid {
    padding: 10px;

    header {
        padding: 10px;
        background: #dedede;
        border: 1px solid #c3c3c3;
    }
}

.bold {
    font-weight: bold;
}

.outcome {
    @extend .bold;
    font-weight: bold;
}

.money {
    @extend .bold;
    margin-left: 5px;
}

.win {
    color: #080;
}

.lose {
    color: #800;
}

.jackpot {
    width: 100px;
}

.vertical-align-center {
    display: flex;
    align-items: center;
}